.box{
    border:1px solid blue;
height:100px;
width:100px;
    left:30px;
    position:relative;
    background-color: blue;
}
.call{
   border:1px solid green; 
height:10px;
width:10px;
    
    position:absolute;
    top: 30;
    left:28px;
    border-top: 10px solid transparent;
    border-left:10px solid blue;
    border-bottom:10px solid transparent;
    border-right:10px solid transparent;
    z-index:-1;
}